In [ ]:
# Host where MySQL is running (e.g. localhost)
--host / -h

# Port number (default is 3306)
--port / -P

# Username (default is root)
--user / -u

# Prompts for password securely
--password / -p

# help
--help

# exit a unfinished command
\c

# Ready for a new command
mysql>

# Waiting for more input
->

# Waiting for closing quote
'>

# Waiting for closing backtick
``>`

# Clear screen
system clear; or Ctrl+L

# Comments
Single-line: -- comment
Multi-line: /* comment */
    
    
# CRUD
Create, read, update and delete

In [ ]:
# Start server
sudo service mysql start

# check it is running
sudo service mysql status

# check using ping
sudo mysqladmin ping

# log in as MySQL root (socket auth)
sudo mysql

# log in through jupyter <- user jovyan
mysql -u jovyan -p -h 127.0.0.1

# Force TCP connection
mysql -u user -p -h 127.0.0.1

# Log out
exit or quit

# add a user
sudo usermod -aG mysql jovyan

# verify a user
SELECT user, host FROM mysql.user WHERE user='jovyan';

# see how you are connected
SELECT USER();

# see what permissions you are using
SELECT CURRENT_USER();

# list all databases
SHOW DATABASES;

# show current database
SELECT DATABASE();

# switch database
USE db_name;

# list tables
SHOW TABLES;

# Describe table structure
DESCRIBE table_name; or SHOW COLUMNS FROM table_name;

# Show table creation DDL
SHOW CREATE TABLE table_name;

# Peek table data
SELECT * FROM table_name LIMIT 5;

# Find tables by name
SHOW TABLES LIKE '%pattern%';

# Check if table exists
SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema='db';

# Check user permissions
SHOW GRANTS;

# delete a tabel
DROP TABLE IF EXISTS table_name;

In [ ]:
# Create MySQL user for jupyter
CREATE USER 'jovyan'@'%'
IDENTIFIED WITH mysql_native_password
BY 'strong_password';

GRANT ALL PRIVILEGES ON *.* TO 'jovyan'@'%';
FLUSH PRIVILEGES;


# Change password
ALTER USER 'jovyan'@'%'
IDENTIFIED WITH mysql_native_password
BY 'MyNewSecurePassword123!';
FLUSH PRIVILEGES;


# Delete user
DROP USER IF EXISTS 'jovyan'@'localhost';
FLUSH PRIVILEGES;
#or
DROP USER IF EXISTS 'jovyan'@'%';
FLUSH PRIVILEGES;


# check table size
SELECT
  table_name,
  ROUND((data_length + index_length) / 1024 / 1024, 2) AS size_mb
FROM information_schema.tables
WHERE table_schema = DATABASE()
ORDER BY size_mb DESC;

In [ ]:
# Create database
CREATE DATABASE mysql_db;

# Use database
USE mysql_db;

# Create table with a name
CREATE TABLE table1 (
    id INT AUTO_INCREMENT PRIMARY KEY,
    column1 VARCHAR(255)
);

# Insert message into table
INSERT INTO table1 (column1)
VALUES ('Test string');

# view string added
SELECT column1 FROM table1;

## Data Definition Language (DDL)

In [ ]:
# Creates a new table, a view on a table, or some other object in the database
CREATE

# Modifies an existing database object, such as a table
ALTER

# Deletes an entire table, a view of a table, or other objects in the database
DROP

# Removes all records from a table but keeps the table structure intact
TRUNCATE

# It is used to change the name of an existing database object, such as a table
RENAME

## Data Manipulation Language (DML)

In [ ]:
# Creates a record
INSERT

# Modifies records
UPDATE

# Deletes records
DELETE

## Data Query Language (DQL)

In [ ]:
# Filter and return results from SQL table
SELECT

## Data Control language (DCL)

In [ ]:
# Gives a privilege to the user
GRANT

# Takes back privileges granted by the user
REVOKE

## Transaction Control Language (TCL)

In [ ]:
# Saves all changes made during the current transaction on a permanent basis. Some databases provide an auto-commit feature, which can be configured using settings.
COMMIT

# Reverts changes made during the current transaction, ensuring no unwanted changes are saved.
ROLLBACK

# Sets a point within a transaction to which changes can be rolled back, allowing partial rollbacks
SAVEPOINT

# Data types

## Exact numeric

In [ ]:
# Large integer numbers (-9,223,372,036,854,775,808 to 9,223,372,036,854,775,807)
BIGINT

# Standard integer values (-2,147,483,648 to 2,147,483,647)
INT

# Small integers (-32,768 to 32,767)
SMALLINT

# Very small integers (0 to 255)
TINYINT

# Exact fixed-point numbers (e.g., for financial values) (-10^38 + 1 to 10^38 - 1)
DECIMAL

# Similar to DECIMAL, used for precision data (-10^38 + 1 to 10^38 - 1)
NUMERIC

## Approximate Numeric Datatype

In [ ]:
# Approximate numeric values (-1.79E+308 to 1.79E+308)
FLOAT

# Similar to FLOAT, but with less precision (-3.40E+38 to 3.40E+38)
REAL

## Character and String Data Types

In [ ]:
# The maximum length of 8000 characters. (Fixed-Length non-Unicode Characters)
Char

# The maximum length of 8000 characters. (Variable-Length non-Unicode Characters)
Varchar

# The maximum length of 2^31 - 1 characters(SQL Server 2005 only). (Variable Length non-Unicode data)
Varchar(max)

# The maximum length of 2,127,483,647 characters(Variable Length non-Unicode data)
Text

## Unicode Character String Data Types

In [ ]:
# The maximum length of 4000 characters(Fixed-Length Unicode Characters)
Nchar

# The maximum length of 4000 characters.(Variable-Length Unicode Characters)
Nvarchar

# The maximum length of 2^31 - 1 characters(SQL Server 2005 only). (Variable Length Unicode data)
Nvarchar(max)

## Date and Time Data Type

In [ ]:
# stores the data of date (year, month, day) (3 Bytes)
DATE

# stores the data of time (hour, minute,second) (3 Bytes)
TIME

# store both the data and time (year, month, day, hour, minute, second) (8 Bytes)
DATETIME

## Binary Data Types in SQL

In [ ]:
# Fixed-length binary data (8000 bytes)
Binary

# Variable-length binary data (8000 bytes)
VarBinary

# Stores binary data as images (2,147,483,647 bytes)
Image

## Boolean Data Type in SQL

In [ ]:
1 == True
0 == False

## Special Data Types

In [ ]:
XML Data Type: Used to store XML data and manipulate XML structures in the database

# Operators

## Arithmetric operators

In [ ]:
# Addition
+

# Subtraction
-

# Multiplication
*

# Division
/

# Modulus (Remainder)
%

# Examples
SELECT
    Name,
    Salary,
    Bonus,
    Salary + Bonus AS Total_Income,          -- Addition
    Salary - Bonus AS After_Bonus_Deduction, -- Subtraction
    Salary * 0.10 AS Ten_Percent_Salary,     -- Multiplication
    Salary / 12 AS Monthly_Salary,           -- Division
    Salary % 10000 AS Salary_Remainder       -- Modulus
FROM Table1;

## Comparison operators

In [ ]:
# Equal to
=

# Doesn't equal to
!=

# Greater than
>

# Less than
<

# Grater than or equal to
>=

# Less than or equal to
<=

# Not equal to
<>

# Example
SELECT * FROM Table1 WHERE Column1 >= 70;

## Logical operators

In [ ]:
# combine two or more conditions in an SQL query
AND

# checking whether a value matches any value from a specified list
IN

# used to reverse the result of a condition, returning TRUE when the condition is FALSE
NOT

# combines multiple conditions in a SQL query and returns TRUE if at least one of the conditions is satisfied
OR

# used in the WHERE clause to search for a specified pattern in a column. It is particularly useful when we want to perform pattern matching on string data
LIKE

# LIKE wildcards:
% : Represents zero or more characters. It allows matching any sequence of characters in the string.
_ : Represents exactly one character. It is used when you want to match a specific number of characters at a given position.
    
# test if a value or expression lies within a specified range
BETWEEN

# compare a value to all values returned by a subquery
ALL

# compare a value with the results of a subquery
ANY

# check whether a subquery returns any rows
EXISTS

# Used with comparison operators (<, >, =, <=, etc.) to compare a value against subquery results. Returns TRUE if the condition is satisfied for at least one value from the subquery. Useful for matching a value against multiple possible results instead of just one.
SOME